.module {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 25px;
    display: inline-block;
    width: auto;
}
.feature {
    padding: 15px;
}
.contents {
    margin-left: 5px;
}

.header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid inset;
}
.Loading {
    position: fixed;
    margin: 0 auto;
    width: 90%;
    height: auto;
    top: 100px;
    left: 25%;
}

.Loading div {
    margin: 0 auto;
    width: 90%;
}

@media (prefers-color-scheme: dark) {
    .module { background:  #555; color: white !important; }
}

@media (prefers-color-scheme: light) {
    .module { background: #ccc; color:  #555 !important; }
}
