.App {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: photon-entypo;
  background-color: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
}
.toolbar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: -1px;
  z-index: 5;
}
.tab-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: steelblue;
}
.tab-item::content {
  opacity: 0.5;
}
.active {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  a.tab-item { background:  #333; color: white !important; }
}

@media (prefers-color-scheme: light) {
  a.tab-item { background: white; color:  #555 !important; }
}

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path+".eot");
    src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".woff")
        format("woff"), url($path+".ttf") format("truetype"), url($path+".svg##{$font-name}")
        format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

/* ===== Usage ===== */
@include font-face(photon-entypo, "./fonts/photon-entypo", normal, normal);